<div class="container">
   <div class="row align-items-center mt-3">
      <div class="col">
         <div class="d-flex align-items-end">
            <a [routerLink]= "['']"><img src="../../../assets/img/logo.png" class="w-75 text-start" alt="Travel"></a>
         </div>
      </div>
      <div class="col-6">
         <form class="position-relative d-flex align-items-center border border-1 border-primary px-3 rounded-5" data-bs-toggle="search" data-bs-display="static">
            <span class="fas fa-search search-box-icon"></span>
            <input class="form-control search-input fuzzy-search border-0 shadow-none" style="font-family: FontAwesome;" type="search" placeholder='Search...' aria-label="Search">
         </form>
      </div>
      <div class="col text-end">
         <div class="btn-group nav-buttons" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-outline-primary rounded-5 d-flex align-items-center bg-transparent text-primary px-2" *ngIf="user.username != null" [routerLink]="['favourites']">
               <i class="fa-sharp fa-solid fa-star-sharp fs-6"></i>
            </button>
            <button type="button" class="btn btn-outline-primary rounded-5 d-flex align-items-center bg-transparent text-primary px-2 mx-2" *ngIf="darkMode == true" (click) = "switchTheme()">
               <i class="fas fa-sun-bright fs-5"></i>
            </button>
            <button type="button" class="btn btn-outline-primary rounded-5 d-flex align-items-center bg-transparent text-primary mx-2" *ngIf="darkMode == false" (click) = "switchTheme()">
               <i class="fas fa-moon"></i>
            </button>
            <div ngbDropdown display="dynamic" class="nav-item dropdown" placement="bottom-end">
               <button type="button" class="btn btn-outline-primary rounded-5 dropdown-toggle d-flex align-items-center bg-transparent text-primary py-1" id="userMenu" ngbDropdownToggle>
                  <i class="fas fa-bars me-2 fs-6"></i>
                  <i class="fa-duotone fa-circle-user" *ngIf="user.id == null"></i>
                  <img *ngIf="user.id != null" class="thumbnail rounded-5" [src]="avatar" alt="profile pic">
               </button>
               <div ngbDropdownMenu class="dropdown-menu border-0 mt-1" aria-labelledby="userMenu">
                  <app-auth *ngIf="user.id == null"></app-auth>
                  <button ngbDropdownItem class="dropdown-item" *ngIf="user.id != null" (click)="openProfile()">Profilo Personale</button>
                  <button ngbDropdownItem class="dropdown-item" *ngIf="user.id != null" (click)="openSettings()">Impostazioni</button>
                  <button ngbDropdownItem class="dropdown-item" *ngIf="user.id != null" (click)="logout()">Logout</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="buttons w-100" *ngIf="route ===''">
   <p>Qui ci vanno i bottoni</p>
</div>




