@import "../node_modules/bootstrap/scss/bootstrap";

:root {
   --bs-primary: #ff005a;
   // --bs-primary: #e91e63;
   --bs-info-rgb: 122, 136, 236;
   --bs-primary-rgb: 233, 30, 99;
}

a {
   text-decoration: none;
}
