.modal-content {
   display:flex;
   justify-content: center;
   overflow: hidden;
}

.services i, .list i {
   width: 30px;
}

.disabled {
   background-color: var(--bs-gray-200);
}

small {
   font-size: 11px;;
}

.card-header {
   margin-top: -80px;
}

.modal-content {
   overflow: visible;
}

.sticky-top {
   top:20px;
}
